<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="icon" type="image/x-icon" href="../../Assets/images/favicon.ico">
</head>

<body>
    <header id="header" class="header section-background-blue">
        <img src="" alt="">
        <img class="logo" src="../../Assets/images/logo.png" alt="megarocket logo">
    </header>
    <main>
        <div class="container">
            <a href="./index.html"><img src="../../Assets/images/closearrow.svg" class="back-button"
                    alt="back button"></a>
            <h1>Log in</h1>
            <div class="bottom-box">
                <form class="login-form">
                    <div class="mail-input">
                        <label><img src="../../Assets/images/tinyMail.svg"></label>
                        <input id="email" type="text" name="email" placeholder="E-mail">
                        <p id="error-email"></p>
                    </div>
                    <div class="password-input">
                        <label><img src="../../Assets/images/tinyPass.svg"></label>
                        <input id="password" type="password" name="password" placeholder="Password">
                    </div>
                </form>
                <p>
                    <a href="#">Have you forgotten the password?</a>
                </p>
                <p>
                    <input type="checkbox"> Remember me
                </p>
                <p>
                    Don't have an account?
                </p>
                <p>
                    <a href="./sign-up.html">Click here to become a member.</a>
                </p>
                <button type="submit" id="login">Continue</button>
            </div>
        </div>
        <footer id="footer" class="footer section-background-green">
            <p>Copyright © 2023 MegaRocket SA. All rights reserved.</p>
            <a href="" target="_blank"><img src="../../Assets/images/facebook.png"alt="facebook logo"></a>
            <a href="" target="_blank"><img src="../../Assets/images/instagram.png"alt="instagram logo"></a>
            <a href="" target="_blank"><img src="../../Assets/images/linkedin.png"alt="linkedin logo"></a>
    </footer>
    </main>
    <script src="../../Week-07/js/login.js"></script>
</body>

</html>