<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="../../Week-07/css/reset.css">
    <link rel="stylesheet" href="../../Week-07/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../../Week-07/css/sign-up.css">
    <link rel="icon" type="image/x-icon" href="../../Assets/images/favicon.ico">
</head>

<body>
    <header id="header" class="header section-background-blue">
        <img class="logo" src="../../Assets/images/logo.png" alt="megarocket logo">
    </header>
    <main>
        <div class="container">
            <a href="index.html"><img src="../../Assets/images/closearrow.svg" class="back-button"
                    alt="back button"></a>
            <h1>Sign up</h1>
            <form>
                <div class="form-1">
                    <label class="name">Name</label>
                    <input id="name" type="text" name="name">
                    <label class="last-name">Last name</label>
                    <input id="last-name" type="text" name="last-name">
                    <label class="email">Email</label>
                    <input id="email" type="text" name="email">
                    <label class="birth">Date of birth</label>
                    <input id="birth" type="date" name="birth">
                    <label class="dni">DNI</label>
                    <input id="dni" type="text" name="dni">
                    <label class="phone">Telephone</label>
                    <input id="phone" type="tel" name="phone">
                </div>
                <div class="form-2">
                    <label class="address">Adress</label>
                    <input id="address" type="text" name="address">
                    <label class="city">City</label>
                    <input id="city" type="text" name="city">
                    <label class="zip-code">Zip code</label>
                    <input id="zip-code" type="text" name="zip-code">
                    <label class="password">Password</label>
                    <input id="password" type="password" name="password">
                    <label class="repeat-password">Repeat Password</label>
                    <input id="repeat-password" type="password" name="repeat-password">
                    <p><a href="./login.html">Already have an account?</a></p>
                </div>
            </form>
        </div>
        <button type="submit" id="register">Register</button>
        <footer id="footer" class=" footer section-background-green">
            <p>Copyright © 2023 MegaRocket SA. All rights reserved.</p>
            <img src="../../Assets/images/facebook.png" alt="facebook logo">
            <img src="../../Assets/images/instagram.png" alt="instagram logo">
            <img src="../../Assets/images/linkedin.png" alt="linkedin logo">
        </footer>
    </main>
    <script src="../../Week-07/js/sign-up.js"></script>
</body>

</html>
