*{
    margin: 0%;
    padding: 0%;
    border: 0%;
}
header {
    display: flex;
    justify-content: space-between;
}
body{
    font-family: 'Roboto', Arial, serif;
}
.section-background-blue {
    background-color: #373867;
    color: #f0f0f0;
}
.section-background-green {
    background-color: #52c27f;
    color: #f0f0f0;
}
.section-background-grey {
    background-color: #d9d9d9;
    color: #000;
}
#logo {
    width: 150px;
    height: 30px;
    margin: 10px;
}
aside {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #e5f2e2;
    text-align: center;
    width: 350px;
    height: 100%;
}
#menu-title{
    padding-top: 10px;
    color: #000;
    font-size: 32px;
}    
nav{
    padding-left:35px ;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav ul li {
    border: 1px #000 solid;
    background-color: #49a37b;
    text-align: center;
    width: 180px;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}
.contact-bar{
    border: 1px #000 solid;
    overflow: hidden;
    height: 300px;
    background-color: #49a37b;
    padding-bottom: 10px;
}
.contact-bar > h2{
    font-size: 32px;
    text-transform: uppercase;
    padding-top: 15px;
}   
.contact-bar ol{
    display: flex;
    flex-direction: column;
}
.contact-bar li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}      
aside a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    }
aside img {
    width: 50px;
    height: 50px;
    padding: 10px;
    } 
#principal{
    text-align: center;
}
#text-principal{
    overflow: hidden;
    height: 300px;
}
h1{
    font-size: 35px;
    padding: 10px;
    margin: 0;
    font-family: 'Mulish', Arial, serif;
    font-weight: bold;
    text-transform: uppercase;
}
#principal h2{
    font-size: 27px;
}
#text-principal p{
    padding: 10px;
    margin: 10px;
}
#principal p{
    float: left;
    width: 90%;
    margin: 5px 20px;
    padding: 5px 20px;
    box-sizing: border-box;
}
#img-principal {
    width: 150px;
    height: 150px;
}

