*{
    margin: 0%;
    padding: 0%;
    border: 0%;
}
header {
    display: flex;
    justify-content: space-between;
}
body{
    font-family: 'Roboto', Arial, serif;
}
.section-background-blue {
    background-color: #373867;
    color: #f0f0f0;
}
.section-background-green {
    background-color: #52c27f;
    color: #f0f0f0;
}
.section-background-grey {
    background-color: #d9d9d9;
    color: #000;
}
#logo {
    width: 150px;
    height: 30px;
    margin: 10px;
}
aside {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #e5f2e2;
    text-align: center;
    width: 350px;
    height: 100%;
}
#menu-title{
    padding-top: 10px;
    color: #000;
    font-size: 32px;
}    
nav{
    padding-left:35px ;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav ul li {
    border: 1px #000 solid;
    background-color: #49a37b;
    text-align: center;
    width: 180px;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}
.contact-bar{
    border: 1px #000 solid;
    overflow: hidden;
    height: 300px;
    background-color: #49a37b;
    padding-bottom: 10px;
}
.contact-bar > h2{
    font-size: 32px;
    text-transform: uppercase;
    padding-top: 15px;
}   
.contact-bar ol{
    display: flex;
    flex-direction: column;
}
.contact-bar li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}      
aside a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    }
aside img {
    width: 50px;
    height: 50px;
    padding: 10px;
    } 
#principal{
    text-align: center;
}
#text-principal{
    overflow: hidden;
    height: 300px;
}
h1{
    font-size: 35px;
    padding: 10px;
    margin: 0;
    font-family: 'Mulish', Arial, serif;
    font-weight: bold;
    text-transform: uppercase;
}
#principal h2{
    font-size: 27px;
}
#text-principal p{
    padding: 10px;
    margin: 10px;
}
#principal p{
    float: left;
    width: 90%;
    margin: 5px 20px;
    padding: 5px 20px;
    box-sizing: border-box;
}
#img-principal {
    width: 150px;
    height: 150px;
}

#options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 670px;
}
#options h2{
    text-align: center;
    align-self: center;
    border: 1px #000 solid;
    padding: 8px 20px;
    margin: 5px 0;
    border-radius: 4px;
    background-color: #88a47c;
    width: 180px;
}
#options img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    margin-top: 20px;
}
#options p {
    display: none;
    padding: 5px 10px 5px 0px;
    margin: 0 10px 10px 0;
    margin-left: 30%;
    width: 308px;
    height: 140px;
    line-height: 1.2em;
    font-size: 1.1em;
}
.option1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.option2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form {
    display: flex;
    flex-direction: column;
}
#form h2{
    text-align: center;
    font-size: 2em;
    padding: 5px;
    letter-spacing: 3px;
}
.form-part-1 {
    display: flex;
    flex-direction: column;
}
.form-part-2{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.form-part-2 input, .form-part-2 select, .form-part-2 option{
    padding: 5px;
    margin: 10px;
    height: 20%;
    width: 70%;
    box-sizing: border-box;
} 
.form-part-1 textarea {
    padding: 5px;
    margin: 10px;
    height: 160px;
    width: 70%;
    box-sizing: border-box;
    align-self: center;
}
#form textarea::placeholder{
    font-size: 17px;
}
.form-part-1 button {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #49a37b;
    border-radius: 12px;
    border: #000 2px solid;
}
.form-part-1 button img {
    width: 20px;
    height: 20px;
}
.block-buttons{
    display: flex;
    align-self: auto;
    justify-content: space-around;
}
.motive{
    margin-left: 20px;
    padding: 10px;
    margin-top: 15px;
}
#info{
    text-align: center;
}
#info h2{
    font-size: 2em;
    padding: 15px 0 0 0;
    margin: 0;
}
#info p {
    padding: 15px;
    font-size: 1.3em;
    text-align: justify;
}
#activities h2{
    text-align: center;
    font-size: 1.3em;
    padding: 8px 5px 8px 5px;
}
#activities ol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#activities ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#activities ol li{
    list-style-type: decimal;
    padding: 3px 0;
    width: 100px;
}
#activities ul{
    margin: 0 15px;
    padding: 4px 25px;
}
#activities ul li{
    margin-left: 20px;
    margin-bottom: 5px;
}
.activities-box {
    list-style-type: circle;
    padding: 3px 0;
}
#footer{
    padding: 60px;
    width: 100%;
    background-color: #AACE9B;
}
#footer p{
    color: #000;
    font-size: 30px;
    float: left;
    margin-top: 20px;
}
.footer-img{
    margin-right: 200px;
    margin-bottom: 40px;
}
.footer-img a{
    float: right;
    padding: 10px;
}
.footer-img a img{ 
    width: 50px;
    height: 50px;
}