main {
    background-color: #E3E6F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.logo{
    margin-right: 15px;
}

h1 {
    text-align: center;
    font-size: 1.6em;
    color: #aace9b;
    margin: 5px 0 15px 0;
}

button {
    color: azure;
    background-color: #aace9b;
    margin: 20px;
    border-radius: 3px;
    padding: 5px 25px;
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    margin: 30px;
    background-color: white;
    margin-top: 150px;
}

.container a {
    width: 75px;
    padding: 30px;
}

.container img {
    height: 40px;
    width: 50px;
    margin-left: 20px;
}

.back-button:hover {
    margin-left: 13px;
    transition: 0.4s;
}
.login-form{
    margin-bottom: 15px;
}

.bottom-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-box img {
    height: 20px;
    width: 20px;
}

.bottom-box input {
    border: none;
    border-bottom: 2px solid #aace9b;
}

.mail-input,
.password-input {
    margin: 10px;
}

input[type=checkbox] {
    accent-color: #aace9b;
}

.container p {
    margin: 5px 0;
}

.valid {
    border: 1px solid green;
}

.not-valid {
    border: 1px solid red;
    color: red;
}
.alert {
    margin: 0 0 5px 10px;
    color: red;
}
@media screen and (min-width: 1024px) {
body {
    margin-left: 0px;
    }
form {
    flex-direction: column;
    }
}