main {
    background-color: #E3E6F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 1.6em;
    color: #aace9b;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: #aace9b;
}

input {
    height: 20px;
    margin: 10px;
    border: none;
    background-color: #e5e5e5;
}

button {
    color: azure;
    background-color: #aace9b;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 5px 25px;
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 650px;
    margin: 30px 30px 20px 30px;
    background-color: white;
}

.container a {
    width: 75px;
}

.container img {
    height: 40px;
    width: 50px;
    margin-left: 20px;
}

.back-button:hover {
    margin-left: 13px;
    transition: 0.4s;
}

.form-1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 250px;
    margin: 0 15px;
}

.form-2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 250px;
    margin: 0 15px;
}

.form-1 label,
.form-2 label {
    margin: 0 10px;
}

.form-2 p {
    margin: 5px 0 15px 10px;
}

.form-2 img {
    height: 36px;
    padding: 1px 0;
    margin: 10px;
}

.valid {
    border: 1px solid green;
}

.not-valid {
    border: 1px solid red;
}

.alert {
    margin: 0 0 5px 10px;
    color: red;
}

@media screen and (min-width: 600px) {
form {
    flex-direction: row;
    justify-content: space-around;
    align-items: unset;
    }
}
@media screen and (min-width: 1024px) {
body {
    margin-left: 0px;
    }
}